<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= farm.name %></h1>
    <h2><%= farm.city %></h2>
    <h3><%= farm.email %></h3>
    <h4>PRODUCTS</h4>
    <ul>
      <% for(let product of farm.products){ %>
      <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
      <% } %>
    </ul>
    <a href="/farms">All Farms</a>
    <a href="/farms/<%= farm._id %>/products/new">Add Product</a>
    <form action="/farms/<%=farm._id %>?_method=DELETE" method="post">
      <button type="submit">DELETE</button>
    </form>
  </body>
</html>
